@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --mainclr:#0071b5;
    --secclr:#fff;
    --third:#DFE4E0;
    --mainafterclr:hsl(167, 81%, 79%);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(183, 182, 182);
}
html{
    font-size: 62.5%;
    
  }
  /* Header */
  .header{
    padding: 0.8rem 7%;
    background-color: var(--mainclr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .header .logo{
    display: inline-flex;
  }
  .header #logo{
    width: 50px;
  }
  .header .logo h2{
    color: var(--secclr);
    padding: 1.5rem;
    font-size: 30px;
    font-weight: lighter;
  }
  .navbar{
    padding-top: 2.5rem;
  }
  .navbar a{
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
    text-decoration: none;
  }
  .navbar a:after{
    content: '';
    background: var(--secclr);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
  }
  .navbar a:hover:after{
    content: '';
    background: var(--secclr);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
  }
  .icons div{
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
    display: none;
  }
  .icons a{
    color: white;
    background: var(--secclr);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: .5s;
  }
  .icons a:hover{
    background: transparent;
    border: 1px solid var(--secclr);
  }
  .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

/*=======================
 adding style to about-1 
=======================*/

#ABOUT{
  margin-top: 12rem;
}
.about-1{
    margin: 30px;
    padding: 5px;
}
.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: black;
}

/*===========================
 adding style to about items 
============================*/

.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px 30px;
    box-shadow: 0 0 9px rgba(0,0,0.6);
}

/*======================================
adding style to the icons(book,globe,pencil)
=========================================*/
.about-item i{
    font-size: 43px;
    margin: 0;
}

/*======================================
adding style to h3(heading 3) of each item 
=========================================*/
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}

/*======================================
styling the hr (the blue line in between)
=========================================*/
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #2c7bfe;
    margin: 0 auto;
    border: none;
    text-align: center;
}

/*========================================
hover means when you put your cursor over it
=========================================*/
.about-item:hover{
    background-color: #2c7bfe;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}
.about-item:hover hr{
    background-color: #fff;
}

/*==============================================================================
translate Y: move along the Y axis, negative(-20) moves it up, while positive(20) moves in down by  
================================================================================*/
.about-item:hover i{
    transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}

.footer{
    padding: 6rem 7%;
    background: var(--third);
  }
  .main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .inner-footer{
    flex: 1 1 200px;
  }
  .inner-footer h2{
    font-size: 2rem;
    color: black;
  }
  .inner-footer a{
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    display: block;
    margin-top: 1rem;
    padding-top: 1rem;
    text-decoration: none;
  }
  .inner-footer a:hover{
    margin-left: 10px;
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--mainclr); 
    background: var(--mainclr);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secclr); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--third); 
  }


















