@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
    --mainclr:#0071b5;
    --secclr:#fff;
    --third:#DFE4E0;
    --mainafterclr:hsl(167, 81%, 79%);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(90deg,#0e3959 0%,#0e3959 30%,#03a9f5 30%, #03a9f5 100%);
}
html{
    font-size: 62.5%;
    
  }
  /* Header */
  .header{
    padding: 1rem 7%;
    background-color: var(--mainclr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .header .logo{
    display: inline-flex;
  }
  .header #logo{
    width: 50px;
  }
  .header .logo h2{
    color: var(--secclr);
    padding: 1.5rem;
    font-size: 30px;
    font-weight: lighter;
  }
  .navbar a{
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
    position: relative;
    text-decoration: none;
  }
  .navbar a:after{
    content: '';
    background: var(--secclr);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
  }
  .navbar a:hover:after{
    content: '';
    background: var(--secclr);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
  }
  .icons div{
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
    display: none;
  }
  .icons label{
    color: white;
    background: var(--secclr);
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: .5s;
  }
  input[type="checkbox"]{
    display: none;
  }
  .container{
    position: absolute;
    top: 100%;
    left: 87%;
    transform: translate(-50%, -50%);
    display: none;
    background: #fff;
    width: 320px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    color: #000;
  }
  #show:checked ~ .container{
    display: block;
  }
  .container .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
    color: #000;
  }
  .container .close-btn:hover{
    color: #000;
  }
  .container .text{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: block;
    color: #000;
  }
  #signup{
    padding: 0.5rem;
    text-decoration: none;
    color: #0071b5;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
  }
  #signup:hover{
    color: #fff;
    background: #0071b5;
    border-radius: 6px;
    
  }
  .icons label:hover{
    background: transparent;
    border: 1px solid var(--secclr);
  }
  .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  /* Form */
.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
    margin-top: 8em;
}
.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.contactUs .title h2{
    color: #fff;
    font-weight: 500;
}
.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;
}
.contact{
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}
.box{
    position:relative;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}
.contact h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* form */
.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50{
    display: flex;
    gap: 20px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox .row100 .inputBox{
    width: 100%;
}
.inputBox span{
    color: #0071b5;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 1.3em;
}
.inputBox input{
    padding: 10px;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid #333;
}
.inputBox textarea{
    padding: 10px;
    font-size: 1.3em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type="submit"]{
    background: #ff578b;
    color: #fff;
    border: none;
    font-size:1.3em ;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}
.inputBox ::placeholder{
    color: #999;
}

/* info */
.info{
    background: #0e3959;
}
.info h3{
    color: #fff;
}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}
.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    color: #fff;
    font-size: 2em;
    color: #ccc;
}
.sci li a:hover{
    color: #fff;
}
.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
}
/* footer */
.footer{
    padding: 6rem 7%;
    background: var(--third);
  }
  .main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .inner-footer{
    flex: 1 1 200px;
  }
  .inner-footer h2{
    font-size: 2rem;
    color: black;
  }
  .inner-footer a{
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;
    display: block;
    margin-top: 1rem;
    padding-top: 1rem;
    text-decoration: none;
  }
  .inner-footer a:hover{
    margin-left: 10px;
  }
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--mainclr); 
    background: var(--mainclr);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secclr); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--third); 
  }
